.editor {
    max-width: 100%;
    border: 1px solid var(--control-border-color);
    border-radius: 0.375rem;
}

.editor .cm-editor {
    border-radius: inherit;
}

.editor .cm-editor .cm-scroller {
    font-family: Menlo, Monaco, 'Courier New', monospace;
}
