:root {
    --person-background: #475569;
}

.person {
    position: relative;
    white-space: nowrap;
    padding: 2px 10px 2px 24px;
    border-radius: 12px;
    margin-inline-end: 2px;
    background-color: var(--person-background);
}

.avatar {
    position: absolute;
    width: 18px;
    height: 18px;
    left: 2px;
    top: 2px;
    border-radius: 50%;
}

@media (prefers-color-scheme: light) {
    :root {
        --person-background: #e2e8f0;
    }
}
